@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
    font-size: 1rem;
    overflow-x: hidden;
}

:root {
    --main-color: #38F591;
    --second-color: #ff5e00;
    --gray: #c2c2c2;
    --header-size: 3.4rem;
    --subheader-size: 2rem;
    --paragraph-size: 1.2rem;
    --navbar-links-size: .9rem;
}

#main{
    background-color: #ffffffec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}
    #main h1{
        font-size: var(--header-size);
        letter-spacing: 10px;
        color: var(--second-color);
        font-family: Lobster;
    }

    #main h2{
        font-style: italic;
        font-size: var(--subheader-size);
        color: var(--main-color);
        border-left: 8px solid var(--main-color);
        transition: transform 2.5s;
        transform: translate(40px);
    }
    .contact {
        display: inline-block;
        border: 4px solid var(--second-color);
        border-radius: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 30px 20px;
        padding: 9px;
        text-decoration: none;
        transition: background 500ms;
        color: var(--second-color);
        font-size: var(--navbar-links-size);
    }
        .contact:hover {
            background-color: var(--second-color);
            color: #fff;
        }

/*go down scroll method */

.scroll{
    color:#000000 ;
    font-size: 1.5rem;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1f1d27;
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo{
    font-size: 1.5rem;
}

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
                font-size: 1.5rem;
                color: #ffffff;
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

    #about-me{
        padding: 4rem 2rem;
        min-height: 90vh;
    }
        .about-me-container{
            display: flex;
        }
            .about-me-text-container{
                margin-right: 2rem;
                font-size: 1.8rem;
            }
                .portrait{
                width: 300px;
                border-radius: 12px;
                flex-shrink: 0;
                }


    #projects{
        background-color: #ffffff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000000;
        padding: 50px 10px;
        
    }
        .projects-container{
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            
            .skills-container{
                display: flex;
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 3em;
            }
                .skills-container span{
                    margin: 10px;
                    padding: 10px;
                }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
    }

    @media screen and (max-width: 850px) {
        #projects{
            background-color: #ffffff;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: #000000;
            padding: 50px 100px;
            
        }
        .about-me-text-container {
            margin: 0;
        }
        .portrait{
            display: none;
        }
        .skills-container img{
            padding: 30px;
            height: auto;
        }
    }
    @media screen and (max-width: 690px) {
        .skills-container img{
            padding: 20px;
            height: auto;
        }
    }
    @media screen and (max-width: 540px) {
        
        .scroll{
            margin: 0;
            padding: 10px;
            font-size: 1rem;
        }

#main{
    background: url(git\Images\pexels-hasan-albari-1229861.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}
    #main h1{
        font-size: var(--subheader-size);
    }

    #main h2{
        font-size: var(--subheader-size);

    }
}
    @media screen and (max-width: 490px) {

        .projects-container ul{
            margin: 30px 0 30px 0;
        }
        .skills-container{
            margin-top: 30px;
        }

        #main h2{
            transform: translate(20px);
        }

        .scroll{
            bottom: 0;
            padding: 0;
            position: relative;
            margin-top:10px;
        }

        .skills-container img{
            padding: 10px;
            width: 6rem;
            height: auto;
        }

        footer .logo{
            display: none;
        }
        #about-me{
            padding: 1rem;
        }
            .about-me-text-container{
                margin: 0;
                font-size: 1.5rem;
            }

        #projects{
            flex-direction: column;
            padding: 50px 10px;
        }
            .projects-container{
                margin: 0;
                font-size: 1rem;
                text-align: center;
                list-style: none;
                text-decoration: none;
            }
            .projects-container li{
                text-align: left;
            }
            .skills{
                font-size: 1rem;
                text-align: center;
            }
            .skills-container{
                justify-content: center;
            }
    }
    @media screen and (max-width: 370px) {

        .scroll{
            padding: 0;
            position: absolute;
            bottom: 0;
        }

        #main{
            background-color: #ffffffec;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 85vh;
            padding: 0 20px;
        }
            #main h1{
                font-size: 1.3rem;
            }
        
            #main h2{
                font-size: var(--navbar-links-size);
        
            }
            .contact{
                display: none;
            }

            #about-me{
                min-height: 0vh;
            }
            .about-me-text-container {
                margin: 0;
                font-size: 1rem;
            }

    }
    @media screen and (max-width: 205px) {
        header{
            justify-content: space-evenly;
        }
    }
    @media screen and (max-width: 175px) {

        .logo{
            display: none;
        }
        #projects{
            padding: 0;
        }
        header{
            justify-content: center;
        }
        #about-me{
            padding: 0;
        }

        nav ul{
            padding-right:0;
        }
        .projects-container li{
            padding-right: 20px;
            text-align: center;
            font-size: 0.8rem;
        }
    }